apiVersion: hive.kubedoop.dev/v1alpha1
kind: HiveMetastore
metadata:
  labels:
    app.kubernetes.io/name: hivemetastore
    app.kubernetes.io/instance: hivemetastore-sample
    app.kubernetes.io/part-of: hive-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: hive-operator
  name: hivemetastore-sample
spec:
  clusterConfig:
    database:
      connectionString: jdbc:derby:;databaseName=/tmp/hive;create=true
      credentialsSecret: hive-credentials
      databaseType: derby
  metastore:
    roleGroups:
      default:
        replicas: 1
---
apiVersion: v1
kind: Secret
metadata:
  name: hive-credentials
type: Opaque
stringData:
  username: APP
  password: mine
