
name: Test

on:
  push:
    branches:
      - "main"
  pull_request:


jobs:
  golang-test:
    name: Golang Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test


  chainsaw-e2e:
    name: Chainsaw Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s-version: [
          '1.26.15',
          # '1.27.16',
          # '1.28.15',
          # '1.29.12',
          # '1.30.8',
          # '1.31.4',
          '1.32.0'
        ]
        product-version: ['3.1.3', '4.0.1']
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Create KinD cluster
        env:
          KIND_K8S_VERSION: ${{ matrix.k8s-version}}
          CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
        run: make setup-chainsaw-cluster

      - name: Setup Chainsaw
        env:
          KIND_K8S_VERSION: ${{ matrix.k8s-version }}
          CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
        run: make setup-chainsaw-e2e

      - name: Run chainsaw-e2e
        env:
          KIND_K8S_VERSION: ${{ matrix.k8s-version }}
          CHAINSAW_KUBECONFIG: kind-kubeconfig-${{ matrix.k8s-version }}
          PRODUCT_VERSION: ${{ matrix.product-version }}
        run: make chainsaw-e2e
